$ranges-hover-bg-color: #eee !default;
$ranges-hover-text-color: #000 !default;
$ranges-active-bg-color: #08c !default;
$ranges-active-text-color: #fff !default;

//Apply/OK buttons
$primary-button-bg: #28a745 !default;
$primary-button-color: #fff !default;
//Cancel button
$secondary-button-bg: #6c757d !default;
$secondary-button-color: #fff !default;

$btn-border-width: 1px;
